<%- include('head.ejs', {}); %> 
<div class="container">
  <% if(admin){ %>
    <div class="row row-btn" id="button_row">
      <div class="col-sm-3 item">
        <a href="/admin/document/new" class="btn">Ajouter un document</a>
      </div>
      <div class="col-sm-3 item">
        <a href="/admin/logins" class="btn">Liste des utilisateurs</a>
      </div>
      <div class="col-sm-3 item">
        <a href="/admin/logout" class="btn">Se déconnecter</a>
      </div>
      <div class="col-sm-3 item">
        <a href="/admin/halt" class="btn">Eteindre le système</a>
      </div>
    </div>
  <% } %>
  <div class="row" id="main_row">
    <% for(var i in rows){%>
      <div id="item_<%= rows[i].id %>" class="col-sm-3 text-center vertical-center">
        <% if(admin){ %>
          <a href="/admin/document/<%= rows[i].id %>">
        <% } else { %>
          <a href="/document/<%= rows[i].id %>">
        <% } %>
            <img class="img-rounded img-responsive center-block" src="<%= rows[i].thumbnail %>"></img>
            <div class="well">
              <%= rows[i].title %>
            </div>
          </a>
        <% if(admin){ %>
        <input type=button onclick="del(<%= rows[i].id %>)" class="btn"value="Supprimer"></input>
        <% } %>
      </div>
    <% } %>
  </div>
</div>

<% if(admin){ %>
<script type="text/javascript" src="/js/jquery.js"></script>
<script>
function del(id){
    $.ajax('/admin/rm/' + id.toString(), {'method' : 'DELETE'});
    $('#item_' + id.toString()).remove();
}
</script>
<% } %>
<%- include('foot.ejs', {}); %> 
