<%- include('head.ejs', {}); %> 
<div class="container">
  <div class="row" id="first_row">
    <h3>Utilisateurs existants</h3>
    <div id=list>
        <% for(let i in logins){ %>
          <div class="login" id="login_<%= logins[i].id %>" style="margin-bottom : 10px">
            <p>
              <span style="margin-left : 10px"><%= logins[i].login %></span>
              <button class="btn btn-xs btn-left" onclick="del(<%= logins[i].id %>)">Supprimer</button>
            </p>
          </div>
        <% } %>
    </div>
  </div>
  <div class="row" id="second_row">
    <h3>Ajouter un utilisateur</h3>
    <form action="/admin/create_pass" method=POST enctype="multipart/form-data">
      <div class="form-group">
        <label for="usr">Nom d'utilisateur</label>
        <input class="form-control" id="usr" name="login" type="text"></input>
      </div>
      <div class="form-group">
        <label for="pwd">Nom d'utilisateur</label>
        <input class="form-control" id="pwd" name="password" type="password"></input>
      </div>
      <input class="btn" type="submit" value="Ajouter"></input>
    </form>
  </div>
</div>

<script src="/js/jquery.js"></script>
<script>
    function del(id){
        $.ajax('/admin/del_pass/' + id.toString(), {'method' : 'DELETE'});
        $('#login_' + id.toString()).remove();
    }
</script>
<%- include('foot.ejs', {}); %> 
